.header {
  width: 100%;
  display: flex;
  background-color: #eaf4ff;
  height: var(--h-header);
}

.header,
.main-content {
  padding: 1rem;
}

.footer {
  background-color: #eaf4ff;
}

.heading {
  margin-bottom: 1rem;
}

.text {
  width: 50%;
  padding: 1rem;
  border: 3px solid #2162ad;
}

#cards {
  display: flex;
  justify-content: space-evenly;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.1);
  margin-left: 1rem;
  margin-right: 1rem;
}

.card__heading {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  padding: 1.5rem;
  color: #eaf4ff;
  background-color: #005275;
  font-size: 1.5rem;
}

.details {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}

.description {
  font-size: 1.25rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.divider {
  height: 2px;
  width: 100%;
  display: flex;
  background-color: #ff5b94;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.features__subheading {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.features__item {
  margin-bottom: 1rem;
  font-size: 0.8rem;
}

.card__button--aside {
  background-color: transparent;
  border: 1px solid #ff5b94;
  padding: 1rem 1.5rem;
  font-size: 0.8rem;
}

.card__button--action {
  padding: 1rem 1.5rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  font-weight: 800;
  text-transform: uppercase;
}

.card__button--action:hover {
  background-color: #eaf4ff;
}

.card__button--aside:hover {
  background-color: #ff5b94;
  color: #eaf4ff;
}
